# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: "Calculator Scenario 20"

on:
  push:
    branches: [ "main" ]
    paths: [ 'samples/Calculator/tests/**', 'samples/Calculator/src/**', '.github/workflows/Calculator_Scenario20.yml', 'samples/Calculator/scenarios/scenario20/coverage.runsettings' ]

env:
  LOGS_DIR: "${{ github.workspace }}/logs/"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./samples/Calculator
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Install dotnet-coverage
      run: dotnet tool install -g dotnet-coverage
    - name: Generate logs directory
      run: mkdir $LOGS_DIR
    - name: Start server
      run: dotnet-coverage collect --settings ./scenarios/scenario20/coverage.runsettings -l $LOGS_DIR/collect.log -ll Verbose --output report.coverage --session-id TagScenario20 "dotnet run --no-build" &
      working-directory: ./samples/Calculator/src/Calculator.Server
    - name: Run tests
      run: dotnet test --settings ./scenarios/scenario20/coverage.runsettings --no-build --verbosity normal --results-directory ./TestResults/ --diag $LOGS_DIR/log.txt
      working-directory: ./samples/Calculator
    - name: Stop server
      run: dotnet-coverage shutdown -l $LOGS_DIR/shutdown.log -ll Verbose TagScenario20
    - name: Merge coverage reports
      run: dotnet-coverage merge -l $LOGS_DIR/merge.log -ll Verbose -f cobertura -o $GITHUB_WORKSPACE/report.cobertura.xml "./TestResults/**/*.coverage" src/Calculator.Server/report.coverage
      working-directory: ./samples/Calculator
    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.2.0
      with:
        reports: '${{ github.workspace }}/report.cobertura.xml'
        targetdir: '${{ github.workspace }}/coveragereport'
        reporttypes: 'MarkdownSummaryGithub'
    - name: Upload coverage into summary
      run: cat $GITHUB_WORKSPACE/coveragereport/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
    - name: Archive code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: '${{ github.workspace }}/report.cobertura.xml'
    - name: Archive code coverage logs
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-logs
        path: '${{ github.workspace }}/logs/*'
